
:root {
    --cor-primaria: rgba(22, 22, 76, 0.857); /**/
    --cor-secundaria: rgba(128, 128, 128, 0.745); /*similar ao claro*/
    --cor-terciaria: rgba(78, 222, 30, 0.725); /*o mais claro*/
    --cor-fonte: white;
    --cor-hover: #712B75  ; /*similar ao escuro*/
    --cor-active: #5B8FB9;

    --fonte-primaria: 'Domine', serif;
    --fonte-secundaria: 'Life Savers', cursive;
}

body {
    background: var(--cor-primaria);
}

.caixote {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: .7rem; */
    margin: 0 auto;
    margin-top: 13vw;
    text-align: center;
    background: rgba(128, 128, 128, 0.745);
    border-radius: 4%;
    padding-top: 2.5rem;
}

.titulo {
    color: var(--cor-terciaria);
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--fonte-primaria);
    white-space: normal;
}

.frase {
    color: var(--cor-fonte);
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
}

.botao {
    display: flex;
    position: relative;
    top: 20px;
    border-radius: 27px;
    width: 54px;
    height: 54px;
    background-color: var(--cor-terciaria);
}

.botao__imagem {
    display: flex;
    align-items: center;
    transform: translate(14.4px, 15.7px);
}

/* CELULARES */
@media  (min-width: 360px) and (max-width: 420px){
    .caixote{
        width: 90vw;
        margin-top: 40vw;
    }

    .divisoria>img {
        width: 70%;
    }

    .botao {
        display: flex;
        position: relative;
        top: 20px;
        border-radius: 37px;
        width: 64px;
        height: 64px;
        background-color: var(--cor-terciaria);
    }
    
    .botao__imagem {
        display: flex;
        align-items: center;
        transform: translate(19.4px, 20.7px);
    }

}

/* DESKTOP */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px)  {
    .divisoria>img {
        width: 70%;
    }

    .caixote {
    width: 40vw;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    }
}