body {
    background: rgba(22, 22, 76, 0.857);
}

.caixote {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 13vw;
    text-align: center;
    background: rgba(128, 128, 128, 0.745);
    border-radius: 4%;
}

.titulo {
    color: rgba(78, 222, 30, 0.725);
    font-size: 1rem;
    text-align: center;
}

.frase {
    color: white;
    font-size: 3rem;
}

.divisoria {
    padding-bottom: 2rem;
}

.botao {
    border-radius: 26px;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    position: bottom;
}

.imagem {
    vertical-align:baseline;
    position: absolute;
}

/* CELULARES */
@media screen and (min-width: 414px) {
    .caixote{
        width: 90vw;
    }

    .divisoria>img {
        width: 70%;
        color: white;
    }

}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .divisoria {

    }

    .caixote {
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}