
:root {
    --cor-primaria: /* fallback for old browsers */
    -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ; 
    --cor-secundaria: rgba(128, 128, 128, 0.745); 
    --cor-terciaria: rgba(78, 222, 30, 0.725); 
    --cor-fonte: white;
    --cor-hover: rgba(87, 225, 41, 0.725) ; 
    --cor-active: rgba(78, 222, 30, 0.888);

    --fonte-primaria: 'Domine', serif;
    --fonte-secundaria: 'Life Savers', cursive;
}

body {
    background: var(--cor-primaria);
}

#darkModeBtn {
    background-color: #333;
    border-radius:0 20px 0 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: sticky;
    top: 0;
    /* right: 0; */
  }

  .dark-mode {
    
    --cor-primaria:#000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    --cor-secundaria: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    --cor-terciaria: rgba(78, 222, 30, 0.725); 
    --cor-fonte: white;
    --cor-hover: #57e129b9 ; 
    --cor-active: rgba(78, 222, 30, 0.888);
  }

.caixote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 13vw;
    /* text-align: center; */
    background: var(--cor-secundaria);
    border-radius: 4%;
    padding-top: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.titulo {
    color: var(--cor-terciaria);
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--fonte-primaria);
    white-space: normal;
    text-shadow: rgba(0, 0, 0, 0.408) 1.95px 1.95px 2.6px;
}

.frase {
    color: var(--cor-fonte);
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
    text-shadow: rgba(0, 0, 0, 0.354) 1.95px 1.95px 2.6px;
    padding: 0 1rem;
}

.botao {
    display: flex;
    position: relative;
    top: 20px;
    border-radius: 27px;
    width: 54px;
    height: 54px;
    background-color: var(--cor-terciaria);
    cursor: pointer;
}

.botao:hover {
    box-shadow: var(--cor-hover) 0px 22px 70px 4px;
    transition: 1.3s;
}

.botao:active {
    box-shadow: var(--cor-active) 0px 22px 70px 4px;
    /* transition: 1s; */
}

.botao__imagem {
    display: flex;
    align-items: center;
    transform: translate(14.4px, 15.7px);
}

/* CELULARES */

@media  (min-width: 360px) and (max-width: 420px){
    .caixote{
        width: 80vw;
        margin-top: 55vw;
    }

    .titulo {
        font-size: 1rem;
    }

    .frase {
        font-size: 2rem;
    }

    .divisoria>img {
        width: 70%;
    }

    .botao {
        border-radius: 37px;
        width: 64px;
        height: 64px;
    }

    .botao:hover {
        box-shadow: var(--cor-terciaria) 0px 22px 70px 4px;
        transition: 1.3s;
    }
    
    .botao__imagem {
        display: flex;
        align-items: center;
        transform: translate(19.4px, 20.7px);
    }
}

/* Tablets Portrait and Landscape */
@media only screen 
  and (min-device-width: 820px) 
  and (max-device-width: 1199px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .frase {
        padding: 0 3rem;
    }

    .divisoria>img {
        width: 60%;
    }

    .caixote {
        width: 50vw;
        margin: 0 auto;
        margin-top: 15vw;
        text-align: center;
        background: rgba(128, 128, 128, 0.745);
        padding-top: 2.5rem;
    }
}

/* DESKTOP */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px)  {
    .divisoria>img {
        width: 70%;
    }

    .caixote {
        width: 40vw;
        margin: 0 auto;
        margin-top: 9vw;
        text-align: center;
        background: rgba(128, 128, 128, 0.745);
        padding-top: 2.5rem;
        }
}